/* Center the table on the page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

/* Style the entire table */
table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ddd;
  width: 100%; /* Table will take up the entire width of the container */
  max-width: 800px; /* Set a maximum width for the table */
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Style table header */
th {
  background-color: #066643;
  color: white;
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

/* Style table rows */
tr {
  transition: background-color 0.2s ease-in-out;
}

/* Style table cells */
td {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/* Style completed tasks */
td.completed {
  color: #008000;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

div {
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  font-family: Arial, sans-serif;
}

tr:hover {
  background-color: #e0e0e0;
}